h1 {
  font-size: 46px;
  color: rgb(48,96,179);
  font-family: 'Oswald', sans-serif;
  line-height: 105%;
  margin-bottom: 6px;
  text-align: center;
  margin-top: 2%;
}

.insidelayers {
  float: left;
  width: 22%;
  margin-top:6%;
  margin-left: 8%;
  padding: 0%;
}

.disconnected {
  width: 25%;
  margin-top: 6%;
  float: left;
}

.goldenwaves {
  float: left;
  width: 25%;
  margin-top: 8%;
  margin-right: 0%;
}


h2 {
  font-size: 28px;
  font-family: 'Oswald', sans-serif;
  color: rgb(48,96,179);
  margin-bottom: 6px;
}

.spikehawk {
  float: left;
  width: 21%;
  padding: 2%;
  margin-top:-10%;
  margin-right: -2%;
  margin-left: 17%;
}

.deconstructed {
  width: 19%;
  margin-top: -8%;
  float: left;
  padding: 1%
}

.featherweight {
  width: 17%;
  margin-top: -6%;
  float: left;
  padding: 1%;
}

.copper {
  float: left;
  width: 15%;
  padding: 1%;
  margin-top: -6%;
}
