/* edgyhair section begins */

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
  color: rgb(231,245,250);
  letter-spacing: 2px;
  display: inline-block;
}

.edgyhair-top {
  width: 35%;
  float: left;
<<<<<<< HEAD
  text-align: center;
  font-family: 'Oswald', sans-serif;
  margin-top: 2%;
}

.insidelayers {
  float: left;
  width: 35%;
  padding: 2%;
  margin-top:3%;
  margin-right: -1%;
  margin-left: .5%;
}

  .insidelayers {
    margin-left: 35%;
    float: left;
  }

  .edgyhair-bottom {
    width: 32%;
  }

  .edgyhair-bottom img {
    width: 70%;
  }

  .spikehawk,
  .goldenwaves,
  .featherweight,
  .copperpenny {
      width: 25%;
      margin-top: 25%;
    }


    .spikehawk {
      margin-left: 30%;
    }



h1 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: rgb(48,96,179);
  display: inline-block;
  margin-top: 2%;
}

h4 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  color: rgb(48,96,179);
=======
}
h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 50px;
  color: rgb(231,245,250);
  letter-spacing: 2px;
>>>>>>> parent of 5ae258a... Created edgy-top and edgy-bottom, set margin-top
  display: inline-block;
}
