
/* Main section begins */

.main {
  width: 85%;
  float: left;
}

.logo-type {
  width: 37%;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
}

.blonde {
  float: left;
  width: 50%;
  padding: 2%;
  margin-top:3%;
  margin-right: -1%;
  margin-left: .5%;
}

.henna {
  width: 22%;
  margin-top: 7%;
  float: left;
}

.extensions {
  width: 21%;
  margin-right: 3%;
  margin-top: 8%;
  float: right;
}

.beauty-slash {
  float: right;
  margin-right: 5.5%;
  margin-top: 1%;
  width: 39%;
}

/* Services section begins */

.services {
  width: 65%;
  float: left;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  margin-left: 17.5%;
  margin-top: 4%;
}

.services img {
  width: 100%;
}

.haircut,
.manicure,
.waxing {
  float: left;
  width: 25%;
  margin-right: 10%;
  border: 2px;
}

.haircut {
  margin-left: 2.5%;
}

.haircut img {
  border: 3px solid rgb(122,197,224);
}

.manicure {
}

.manicure img {
  border: 3px solid rgb(122,197,224);
}

.waxing {
  margin-right: 0;
}

.waxing img {
  border: 3px solid rgb(122,197,224);
}

h2 {
  font-size: 20px;
  color: rgb(48,96,179);
  line-height: 120%;
  margin-bottom: 6px;
}

h6 {
  font-size: 15px;
  color: rgb(48,96,179);
  margin-top: 4px;
  float: left;
  letter-spacing: .5px;
  line-height: 112%;

}
