body {
  background-image: url("images/waves.jpg");
}
.nav, .nav-background {
  width: 14%;
  background-color: rgb(89,127,196);
}
.nav-background {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;

}
.nav {
  float: left;
  position: relative;
  z-index: 1;
  line-height: 3em;
}

.logo {
  width: 80%;
  float: left;
  padding: 20px;
}


h4 {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  color: rgb(218,241,249);
  letter-spacing: 1.5px;
}


.dolphin {
  width: 85%;
  position: relative;
  margin-left: 8%;
  margin-top: 350px;
}

    /* Main section begins */
.main {
  width: 85%;
  float: left;
}

.logo-type {
  width: 35%;
  margin: 0 auto;
  display: block;
  margin-top: 20px;

}

.blonde {
  width: 50%;
  padding: 20px;
  margin-top:30px;
  margin-right: -10px;
}

.henna {
  width: 21%;
  margin-bottom: 150px;
}

.extensions {
  width: 20%;
  margin-left: 15px;
  margin-bottom: 110px;
}

.beauty-slash {
  float: right;
  margin-right: 60px;
  margin-top: -90px;
}

    /* Services section begins */

.services {
 background-color: white;
 width: 30%;
 margin: 1%;
 float:left;
 text-align: center;
 font-family: 'Oswald', sans-serif;
 border: solid white 2px;
}

.services img {
  width: 50%;
}

h2 {
  font-size: 22px;
}

.haircut {
  width: 32%;
}

.rubio,
.trump {
  margin-left: 19%;
}

.cruz,
.kasich {
  margin-right: 19%;
}

.trump {
  clear: left;
}

@media screen and (min-width: 741px) {
  .candidates {
    width: 20%;
  }

  .rubio {
    margin-left: 7%;
  }

  .cruz {
    margin-right: 1%;
  }
  .trump {
    margin-left: 1%;
    clear: none;
  }

  .kasich {
    margin-right: 7%;
  }

      /* Footer section begins */
}
