body {
  background-image: url("images/waves.jpg");
}

    /* Navigation section begins */

.nav, .nav-background {
  width: 14%;
  background-color: rgb(89,127,196);
}
.nav-background {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;

}
.nav {
  float: left;
  position: relative;
  z-index: 1;
  line-height: 4em;
}

.logo {
  width: 80%;
  float: left;
  padding: 20px;
}


h4 {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  color: rgb(231,245,250);
  letter-spacing: 1.5px;
}

.dolphin {
  width: 85%;
  position: relative;
  margin-left: 8%;
  margin-top: 520px;
}

    /* Main section begins */

.main {
  width: 85%;
  float: left;
}

.logo-type {
  width: 35%;
  margin: 0 auto;
  display: block;
  margin-top: 20px;

}

.blonde {
  width: 50%;
  padding: 20px;
  margin-top:30px;
  margin-right: -10px;
  margin-left: 20px;
}

.henna {
  width: 22%;
  margin-bottom: 160px;
}

.extensions {
  width: 21%;
  margin-left: 15px;
  margin-bottom: 130px;
}

.beauty-slash {
  float: right;
  margin-right: 60px;
  margin-top: -120px;
}

    /* Services section begins */

.services {
  width: 20%;
  margin: 5px;
  float:left;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  margin-left: 120px;
  margin-top: 75px;
  margin-bottom: 10px;

}

.services img {
  width: 70%;

}


h2 {
  font-size: 22px;
  color: rgb(48,96,179);
  line-height: 120%;
  margin-bottom: 6px;
  margin-top: -20px;
}

h6 {
  font-size: 14px;
  color: rgb(48,96,179);
  margin-top: 4px;
}

      /* Footer section begins */

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  color: rgb(231,245,250);
  letter-spacing: 2px;
  padding: 3px;
  margin-left: 5px;
  float: left;

    }

.footer {
  display: block;
  width: 80%;
  background-color: rgb(89,127,196);
  text-align: center;
  display: inline;
  float: left;
  padding: 5px;
  margin-top: 90px;
  margin-left: 10%;
  margin-right: 5%;
  margin-bottom: 30px;
 }

 .scissors {
   width: 43px;
 }






}
