h1 {
  font-size: 46px;
  color: rgb(48,96,179);
  font-family: 'Oswald', sans-serif;
  line-height: 105%;
  margin-bottom: 6px;
  text-align: center;
  margin-top: 2%;
}

.services img {
  width: 56%;
  margin-left: 15%;
  margin-top: 4.5%;
}
