body {
  background-image: url("images/waves.jpg");
}

/* Keeps elements from collapsing when objects inside of them are floated left/right
found at http://stackoverflow.com/questions/8554043/what-is-clearfix */
.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* Navigation section begins */

.nav, .nav-background {
  width: 14%;
  background-color: rgb(89,127,196);
}
.nav-background {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.nav {
  float: left;
  position: relative;
  z-index: 1;
  line-height: 4em;
}

.logo {
  width: 80%;
  padding: 20px 10%;
  display: block;
}

li a {
  display: block;
  text-decoration: none;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  font-weight: 100;
  color: rgb(231,245,250);
  letter-spacing: 1.5px;
}

/* Change the link color on hover */
li a:hover {
  background-color: rgb(108,202,202);
  color: white;
}


/* Footer section begins */

h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 50px;
  color: rgb(231,245,250);
  letter-spacing: 2px;
  display: inline-block;
}

h3.bold {
  font-weight: 500;
}

.footer {
  display: block;
  width: 80%;
  background-color: rgb(89,127,196);
  text-align: center;
  display: inline;
  float: left;
  padding: 4px;
  margin-top: 82px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 30px;
}

.scissors {
  width: 43px;
  margin: 0 4px;
  vertical-align: middle;
  margin-top: -10px;
}
